body{
	font-size: 16px;
	background-color: #476680;
	font-family: roboto;
}
h1.heading{
	padding: 30px 100px 150px 100px;
	font-weight: 700;
    font-size: 50px;
    color: #f2dede;
    text-align: center;
}
h1.heading2{
	padding: 30px 100px 50px 100px;
}
p{
	color: #f2dede;
}
form{
	margin-top: 10px;
	text-align: center;
}
.form_heading{
	color: wheat;
}
.git_url{
	padding-left: 5px;
}
.table_head{
	background-color: #263b4c;
	color: #fcf8e3;
}
b{
	color: #272829;
}

/* Excel Test  */

.t{
	width: fit-content;
    background-color: snow;
    border: 1px solid;
    line-height: normal;
    margin-left: 10%;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 20px;
}
.t tr, .t tr th, .t tr td {
	border : 1px solid;
	padding: 2px;
}
h1 {
	text-align : center;
}
input[type=file] {
    display: initial;
}

/* Excel  Test End */


/* .foot{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #484646;
   text-align: left;
}
.mypic{
	width: 120px;
	height: auto;
}
.f{
	color: #f2dede;
	margin-bottom: auto;
	font-size: 16px;
} */
